<div class="mt-10 mx-6 sm:mx-auto sm:w-full sm:max-w-sm">
  <div class="mx-auto max-w-sm">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="my-6", data-controller="preview-image">
          <%= f.label :avatar, class: 'mb-1 block text-sm font-medium' %>
          <%= f.file_field :avatar, accept: 'image/*',
                data: { action: 'change->preview-image#preview' },
                class: 'block border border-gray-400 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none file:bg-gray-50 file:border-0 file:bg-gray-200 file:me-4 file:py-2 file:px-4' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
        <div class="flex justify-center my-3">
          <%= image_tag @user.avatar.url, id: 'preview', size: '150x150' %>
        </div>
        <div class="my-6">
          <%= f.label :name, class: 'mb-1 block text-sm font-medium'%>
          <%= f.text_field :name, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
        </div>
        <div class="my-6">
          <%= f.label :email, class: 'mb-1 block text-sm font-medium'%>
          <%= f.email_field :email, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
        </div>
        <div class="actions mt-10 text-center normal-case">
          <%= f.submit t('defaults.update'), class: 'btn btn-wide btn-neutral text-white' %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-center mt-10 mb-5 text-sm text-gray-600" >
      <%= link_to t('users.confirm_withdraw.withdraw'), confirm_withdraw_path %>
    </div>
    <%= render 'shared/back_to_previous_page' %>
  </div>
</div>

