<div class="body-font relative mx-auto">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-col text-center w-full mb-8">
      <h1 class="sm:text-xl text-2xl font-medium title-font font-semibold mb-4 text-gray-900"><%= t('.title') %></h1>
    </div>
    <div class="float-right">
      <%= link_to edit_profile_path do %>
        <svg class="h-8 w-8 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
      <% end %>
    </div>
    <div class="flex mx-auto justify-center items-center">
      <%= image_tag current_user.avatar_url, size: '100x100', class: 'avatar w-32 rounded-xl'%>
    </div>

    <div class="text-center my-8">
      <div class="my-6">
        <h2 class="font-normal mb-3"><%= t(User.human_attribute_name(:name)) %><h2>
        <p class="font-thin"><%= current_user.name %></p>
      </div>
      <div class="my-6">
        <h2 class="font-normal mb-3"><%= t(User.human_attribute_name(:email)) %></h2>
        <p class="font-thin"><%= current_user.email %></p>
      </div>
    </div>
    <button class="btn btn-outline btn-sm btn-wide my-8">
      <%= link_to t('facilities.bookmarks.title'), bookmarks_facilities_path %>
    </button>
  </div>
</div>
