<div class="container px-4 mt-10 mb-14 w-full md:container md:mx-auto">
  <div class="relative mx-auto max-w-sm">
    <div class="text-center">
      <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
    </div>
    <div class="absolute top-5 right-2">
      <%= link_to edit_profile_path do %>
        <svg class="h-8 w-8 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
      <% end %>
    </div>
    <div class="flex mx-auto justify-center mt-12 mb-10">
      <%= image_tag current_user.avatar_url, size: '100x100', class: 'avatar w-32 rounded-xl'%>
    </div>
    <div class="text-center my-8">
      <div class="my-6">
        <h2 class="font-semibold mb-3"><%= t(User.human_attribute_name(:name)) %><h2>
        <p class="font-normal"><%= current_user.name %></p>
      </div>
      <div class="my-6">
        <h2 class="font-semibold mb-3"><%= t(User.human_attribute_name(:email)) %></h2>
        <p class="font-normal"><%= current_user.email %></p>
      </div>
    </div>
  </div>
  <div class="flex mx-auto justify-center">
    <%= link_to t('facilities.bookmarks.title'), bookmarks_facilities_path, class: 'btn btn-outline btn-sm btn-wide my-8' %>
  </div>
</div>
