<div class="mt-10 mx-4 sm:mx-auto sm:w-full sm:max-w-sm">
  <%= form_with model: user, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-col">
      <div class="my-3">
        <%= f.label :name, User.human_attribute_name(:name), class: 'my-1 block text-sm font-medium' %>
        <%= f.text_field :name, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
      </div>
      <div class="my-3">
        <%= f.label :email, User.human_attribute_name(:email), class: 'my-1 block text-sm font-medium' %>
        <%= f.email_field :email, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
      </div>
      <div class="my-3">
        <%= f.label :password, User.human_attribute_name(:password), class: 'my-1 block text-sm font-medium' %>
        <%= f.password_field :password, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
      </div>
      <div class="my-3">
        <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: 'my-1 block text-sm font-medium' %>
        <%= f.password_field :password_confirmation, class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-gray-400 focus:ring focus:ring-gray-200 focus:ring-opacity-50' %>
      </div>
    </div>
    <div class="actions mt-5 text-center normal-case">
      <%= f.submit t('defaults.register'), class: 'btn btn-wide btn-neutral text-white' %>
    </div>
  <% end %>
</div>