<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <%= form_with model: user, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-col">
      <div class="form-group">
        <%= f.label :name, User.human_attribute_name(:name) %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email, User.human_attribute_name(:email) %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, User.human_attribute_name(:password) %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <div class="actions mt-5 text-center">
      <%= f.submit t('defaults.register'), class: 'btn btn-wide btn-primary' %>
    </div>
  <% end %>
</div>