<div class="container px-4 mt-10 mb-14 w-full md:container md:mx-auto">
  <div class="text-center">
    <h1 class="text-2xl font-medium font-semibold mb-4 sm:text-xl"><%= t('.title') %></h1>
  </div>
  <!-- 施設一覧 -->
  <% if @facilities.present? %>
    <div class='font-medium text-lg text-center mb-4'>
      <%= "#{@facilities.count} 件" %>
    </div>
    <%= render @facilities %>
  <% else %>
    <div class="text-center my-20">
      <p><%= t('.no_result') %></p>
    </div>
  <% end %>
  <div class="flex mx-auto justify-center mt-4 mb-14">
    <%= link_to t('defaults.back_to_search'), root_path, class: 'btn btn-ghost btn-sm font-normal px-4' %>
  </div>
</div>