<div class="p-2 w-full">
  <div class="relative text-center">
    <%= form_with model: review, url: [facility, review], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_area :body,
            class: 'w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-gray-500 focus:bg-white focus:ring-2 focus:ring-gray-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out',
            id: 'js-new-review-body',
            row: 4, placeholder: Review.human_attribute_name(:body) %>
      <div data-controller="image-preview">
        <div>
          <%= f.file_field :review_image, accept: 'image/*', data: {"image-preview-target": "input", action: "image-preview#readImage" } %>
        </div>
        <ul data-image-preview-target="output">
        </ul>
      </div>
      <%= f.submit t('defaults.post'), class: 'btn btn-primary btn-sm text-center px-10 mt-5' %>
    <% end %>
  </div>
</div>