<div class="card mx-auto w-9/12 p-4 mx-4 my-6 border border-slate-500">
  <div class="px-2">
    <div class="flex flex-row">
      <div class="mx-2">
        <%= image_tag review.user.avatar_url, class: 'avatar rounded-xl w-12 h-12'%>
      </div>
      <div class="ml-3 mt-4">
        <span class="text-sm font-semibold tracking-widest text-blue-500"><%= review.user.name %></span>
        <span class="text-xs text-light text-gray-500 ml-1"><%= review.updated_at.strftime('%Y/%m/%d %H:%M')%></span>
      </div>
    </div>
    <div class="absolute top-2 right-2">
      <% if current_user.own?(review) %>
        <%= render 'reviews/crud_menus', review: review %>
      <% end %>
    </div>
    <div class="flex mx-auto mt-2">
      <p class="text-base text-sm leading-relaxed break-all">
        <%= review.body %>
      </p>
    </div>
    <div class="flex justify-center mx-auto m-2 items-center">
      <%= image_tag review.review_image_url, class: 'card-img-top', size: '150x150'if review.review_image.present? %>
    </div>
  </div>
</div>